<div class="row loginOptionsRow">
    <div class="span4">
        {{ spot1 | raw }}
    </div>
    <div class="span4 ">
        <div class="borderLeft">
            {{ spot2 | raw }}
            {{ spotAmazon | raw }}
        </div>
    </div>
    <div class="span4">
        <div class="borderLeft">
            {{ spot3 | raw }}
        </div>
    </div>
</div>
<div class="topLine">
    <div class="row ">
        <div class="span6 offset3">
            {{ spot4 | raw }}
        </div>
    </div>
</div>