{% if amazonPaymentEnabled %}
    <div class="amazonPaymentButton">
        <div class="payWithAmazonDiv" data-sellerid="{{ sellerId }}" data-paywithamazonurl="{{ payWithAmazonURL }}" data-paywithamazonurlerror="{{ payWithAmazonURLError }}">
            <img {% block text %}title="{{ sText }}"{% endblock %} src="{% block srcURL %}{{ payWithAmazonButtonURL|raw }}&size=x-large&color=orange{% endblock %}" style="cursor: pointer;"/>
        </div>
        {% if  amazonIgnoreMessagesInSnippet is not defined or amazonIgnoreMessagesInSnippet != true %}
            [{CMSMSG-amazonPayment}]
        {% endif %}
    </div>
{% endif %}