{#
@var int chartId
@var ChameleonSystem\EcommerceStatsBundle\Service\EcommerceStatsGroup[] group
@var string[] columnNames
@var bool showDiffColumn
@var int maxGroupCount
@var ChameleonSystem\EcommerceStatsBundle\Library\DataModel\StatsGroupDataModel group
#}

{% set colors = ['#5E98FF', '#807D9A', '#92C1F0', '#A2ACB3', '#7ADEFF', '#185EA8', '#4B86F7', '#96A9C2', '#82BEEA', '#9FD3E8', '#6398B0','#C8E8FF', '#337AB7', '#4DA6FF', '#718CA1'] %}

<div>
    <canvas id="chart{{ chartId }}"></canvas>
</div>

<script>
    const chartData{{ chartId }} = {
        labels: [
            {% if group.subGroups | length < 1 %}
            {% for timeframe, value in group.groupTotals %}
            '{{ timeframe }}'{{ not loop.last ? ',' : '' }}
            {% endfor %}
            {% else %}
            {% for subGroupName, subGroup in group.subGroups %}
            {% if loop.first %}
            {% for timeframe, value in subGroup.groupTotals %}
            '{{ timeframe }}'{{ not loop.last ? ',' : '' }}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
        ],
        datasets: [
            {% if group.subGroups | length < 1 %}
            {
                label: '{{ groupTitle }}',
                data: [
                    {% for timeframe, value in group.groupTotals %}
                    {{ value }}{{ not loop.last ? ',' : '' }}
                    {% endfor %}
                ],
                backgroundColor: '{{ colors[0] }}',
            }
            {% else %}
            {% for subGroupName, subGroup in group.subGroups %}
            {
                label: '{{ subGroupName }}',
                data: [
                    {% for timeframe, value in subGroup.groupTotals %}
                    {{ value }}{{ not loop.last ? ',' : '' }}
                    {% endfor %}
                ],
                backgroundColor: '{{ colors[loop.index0] }}',
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
            {% endif %}
        ],
        options: {
            legend: {
                display: {{ group.subGroups | length > 0 ? 'true' : 'false' }}
            }
        }
    };

    CHAMELEON.CORE.Charts.generateChart(
        'chart{{ chartId }}',
        chartData{{ chartId }}.labels,
        chartData{{ chartId }}.datasets,
        chartData{{ chartId }}.options
    );
</script>
