{#
@var int chartId
@var ChameleonSystem\EcommerceStatsBundle\Service\EcommerceStatsGroup[] group
@var string[] columnNames
@var bool showDiffColumn
@var int maxGroupCount
@var ChameleonSystem\EcommerceStatsBundle\Library\DataModel\StatsGroupDataModel group
#}

{% if group.groupTotals | length > 0 %}
    <div>
        <canvas id="chart{{ chartId }}"></canvas>
    </div>

    <script>
        const chartData{{ chartId }} = {
            labels: [
                {% if group.subGroups | length < 1 %}
                {% for timeframe, value in group.groupTotals %}
                '{{ timeframe }}'{{ not loop.last ? ',' : '' }}
                {% endfor %}
                {% else %}
                {% for subGroupName, subGroup in group.subGroups %}
                {% if loop.first %}
                {% for timeframe, value in subGroup.groupTotals %}
                '{{ timeframe }}'{{ not loop.last ? ',' : '' }}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
            ],
            datasets: [
                {% set totalElements = group.subGroups|length %}

                {% if totalElements < 1 %}
                {
                    label: '{{ groupTitle }}',
                    data: [
                        {% for timeframe, value in group.groupTotals %}
                        {{ value }}{{ not loop.last ? ',' : '' }}
                        {% endfor %}
                    ],
                    backgroundColor: '{{ generate_color(0, totalElements) }}',
                }
                {% else %}
                    {% for subGroupName, subGroup in group.subGroups %}
                    {
                        label: '{{ subGroupName }}',
                        data: [
                            {% for timeframe, value in subGroup.groupTotals %}
                            {{ value }}{{ not loop.last ? ',' : '' }}
                            {% endfor %}
                        ],
                        backgroundColor: '{{ generate_color(loop.index0, totalElements) }}',
                    }
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
            ],
            options: {
                legend: {
                    display: {{ group.subGroups | length > 0 ? 'true' : 'false' }}
                }
            },
            additionalConfig: {
                hasCurrency: {{ group.hasCurrency ? 'true' : 'false' }},
                displayGraphLabels: {{ displayGraphLabels is not null ? displayGraphLabels : 'false' }},
                {% if group.getCurrency is not null %}
                currency: {
                    symbol: '{{ group.getCurrency.symbol }}'
                }
                {% else %}
                currency: {
                    symbol: '€'
                }
                {% endif %}
            },
        };

        document.addEventListener('widget:loaded', function (event) {
            CHAMELEON.CORE.Charts.generateChart(
                'chart{{ chartId }}',
                chartData{{ chartId }}.labels,
                chartData{{ chartId }}.datasets,
                chartData{{ chartId }}.options,
                chartData{{ chartId }}.additionalConfig
            );
        });
    </script>
{% else %}
    <div class="chart-no-data-message">
        {{ 'chameleon_system_ecommerce_stats.form_no_data_for_current_filters' | trans }}
    </div>
{% endif %}
